@using SchopenSozlukEntityLayer.Concrete;

@{
    ViewData["Title"] = "User List";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="#">Admin Menü</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminMenu" aria-controls="adminMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="adminMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="DeleteEntry">Entry Sil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="AssignAdminRole">Admin Rolü Ata</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="ListUsers">Kullanıcıları Listele</a>
            </li>
        </ul>
    </div>
</nav>
<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
